@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Quicksand:wght@300..700&display=swap');

/* |=============| Parametros gerais |============| */

:root {
    --bg: #131313;
    --fonte: #e9e9e9;
    --copyright: #6b6969;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(30deg, #080053, #001d7e);
    color: var(--fonte);
}


/* |=============| Navbar |============| */

.navbar {
    border: solid 1px var(--fonte);
    background: none;
}

.navbar-brand {
    font-family: 'Bungee', cursive;
    transition: transform 0.3s ease;
}

.navbar-brand:hover {
    transform: scale(0.9);
}


/* |=============| Conteúdo principal - landing (Home) |============| */


/* Texto */

.conteudo {
    border: 1px solid var(--fonte);
}

.titulo {
    font-family: 'Bungee', cursive;
}

.texto-descricao {
    text-align: justify;
}


/* Imagens e Icones */

.perfil {
    border: 1px solid var(--fonte);
    padding: 2%;
}

.icone-tech {
    width: 25%;
    border-radius: 0 !important;
}


/* |=============| Footer |============| */

.rodape {
    border: 1px solid var(--fonte);
}

.copyright {
    color: var(--copyright);
}